{:paths ["src"]
 :deps {lilactown/helix         {:git/url "https://github.com/lilactown/helix"
                                 :git/sha "bab74be423fc69a9f7d136dbee0c2f3aec11da67"}
        town.lilac/flex         {:git/url "https://github.com/lilactown/flex"
                                 :git/sha "346bad039b560a62529a39af66e0afe35565b125"}
        lambdaisland/fetch      {:mvn/version "1.5.83"}
        metosin/reitit-frontend {:mvn/version "0.5.18"}
        metosin/reitit-spec     {:mvn/version "0.5.18"}
        funcool/promesa         {:mvn/version "11.0.678"}
        mhuebert/kitchen-async  {:mvn/version "0.1.0"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {nubank/matcher-combinators {:mvn/version "3.9.1"}
                              thheller/shadow-cljs {:mvn/version "2.28.10"}
                              com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}}}}}
