{:paths ["src"]
 :deps {lilactown/helix {:mvn/version "0.1.11"}
        town.lilac/flex {:git/url "https://github.com/lilactown/flex"
                         :git/sha "afa6491ace9015577ffa9245086f945825a93633"}
        thheller/shadow-cljs {:mvn/version "2.28.10"}
        com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}
        lambdaisland/fetch {:mvn/version "1.5.83"}
        metosin/reitit-schema {:mvn/version "0.5.18"}
        metosin/reitit-frontend {:mvn/version "0.5.18"}
        metosin/reitit-spec {:mvn/version "0.5.18"}
        funcool/promesa {:mvn/version "11.0.678"}
        mhuebert/kitchen-async {:mvn/version "0.1.0"}
        org.clj-commons/digest {:mvn/version "1.4.100"}}}
