@import "tailwindcss";
@source "../../src/dev/lanjoni/**/*.{clj,cljs,cljc}";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: lofi --default, black --prefersdark;
}

body {
  font-family: 'JetBrains Mono';
  font-size: 22px;
}

blockquote {
  quotes: none !important;
}

blockquote::before,
blockquote::after {
  content: none !important;
}
