@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono';
  font-size: 22px;
}

blockquote {
  quotes: none !important;
}

blockquote::before,
blockquote::after {
  content: none !important;
}
